examples/button-lamp.json
[
  {
    "id":"c7651ddc.37bd6",
    "type":"tab",
    "label":"OpenPLC"
  },
  {
    "id":"c94e09b3.f4f03",
    "type":"comment",
    "z":"c7651ddc.37bd6",
    "name":"Input",
    "info":"",
    "x":309,
    "y":117,
    "wires":[

    ]
  },
  {
    "id":"95326b5a.5740d",
    "type":"comment",
    "z":"c7651ddc.37bd6",
    "name":"Processing",
    "info":"",
    "x":609,
    "y":154,
    "wires":[

    ]
  },
  {
    "id":"d89f1dfc.df0a28",
    "type":"comment",
    "z":"c7651ddc.37bd6",
    "name":"Output",
    "info":"",
    "x":841,
    "y":140,
    "wires":[

    ]
  },
  {
    "id":"d76551fe.733408",
    "type":"inject",
    "z":"c7651ddc.37bd6",
    "name":"Inject: true",
    "topic":"",
    "payload":"true",
    "payloadType":"bool",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":278,
    "y":418,
    "wires":[
      [
        "59482e50.97ce98"
      ]
    ]
  },
  {
    "id":"59482e50.97ce98",
    "type":"trigger",
    "z":"c7651ddc.37bd6",
    "op1":"true",
    "op2":"false",
    "op1type":"bool",
    "op2type":"bool",
    "duration":"150",
    "extend":false,
    "units":"ms",
    "reset":"true",
    "name":"trigger input",
    "x":432,
    "y":418,
    "wires":[
      [
        "23cdd179.df6dc6"
      ]
    ]
  },
  {
    "id":"8013fbf4.34b34",
    "type":"inject",
    "z":"c7651ddc.37bd6",
    "name":"Set duration = 1",
    "topic":"",
    "payload":"{\"value\": 1, \"register\": \"W\", \"byte\": 0}",
    "payloadType":"json",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":293.5,
    "y":164,
    "wires":[
      [
        "568e3117.55e7f"
      ]
    ]
  },
  {
    "id":"fd755934.31683",
    "type":"inject",
    "z":"c7651ddc.37bd6",
    "name":"Set duration = 5",
    "topic":"",
    "payload":"{\"value\": 5, \"register\": \"W\", \"byte\": 0}",
    "payloadType":"json",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":294,
    "y":202,
    "wires":[
      [
        "568e3117.55e7f"
      ]
    ]
  },
  {
    "id":"b278212e.7a5e28",
    "type":"inject",
    "z":"c7651ddc.37bd6",
    "name":"Set %QX0.2",
    "topic":"",
    "payload":"{\"value\": true, \"register\": \"X\", \"byte\": 0, \"bit\": 2}",
    "payloadType":"json",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":285,
    "y":258,
    "wires":[
      [
        "568e3117.55e7f"
      ]
    ]
  },
  {
    "id":"3720ecc5.4cac1c",
    "type":"inject",
    "z":"c7651ddc.37bd6",
    "name":"Reset %QX0.2",
    "topic":"",
    "payload":"{\"value\": false, \"register\": \"X\", \"byte\": 0, \"bit\": 2}",
    "payloadType":"json",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":295,
    "y":296,
    "wires":[
      [
        "568e3117.55e7f"
      ]
    ]
  },
  {
    "id":"568e3117.55e7f",
    "type":"OpenPLC",
    "z":"c7651ddc.37bd6",
    "name":"",
    "server":"2dadfc00.5aa6a4",
    "programport":"8080",
    "program":"PROGRAM My_Program\n  VAR\n    button AT %QX0.0 : BOOL;\n    lamp AT %QX0.1 : BOOL;\n    duration AT %QW0 : UINT := 3;\n    analogval AT %QW1: UINT := 7;\n  END_VAR\n  VAR\n    T0 : TOF;\n    UINT_TO_TIME9_OUT : TIME;\n  END_VAR\n\n  UINT_TO_TIME9_OUT := UINT_TO_TIME(duration);\n  T0(IN := button, PT := UINT_TO_TIME9_OUT);\n  lamp := T0.Q;\nEND_PROGRAM\n\nCONFIGURATION Config0\n  RESOURCE Res0 ON PLC\n    TASK TaskMain(INTERVAL := T#50ms,PRIORITY := 0);\n    PROGRAM Inst0 WITH TaskMain : My_Program;\n  END_RESOURCE\nEND_CONFIGURATION",
    "outputs":4,
    "digitaloutputs":"2",
    "analogoutputs":"2",
    "digitaloutputoffset":"1",
    "analogoutputoffset":"0",
    "rate":"100",
    "rateUnit":"ms",
    "x":614.5,
    "y":206,
    "wires":[
      [
        "631b659f.4a6d24"
      ],
      [
        "4291ddc2.a445ec"
      ],
      [
        "e09cdec7.3b41d"
      ],
      [
        "bf0a28a6.6c891"
      ]
    ]
  },
  {
    "id":"3e410724.2d936",
    "type":"OpenPLC-Input",
    "z":"c7651ddc.37bd6",
    "name":"%QW0",
    "register":"W",
    "byte":0,
    "bit":0,
    "x":420.5,
    "y":355,
    "wires":[
      [
        "568e3117.55e7f"
      ]
    ]
  },
  {
    "id":"1a1365f0.402422",
    "type":"inject",
    "z":"c7651ddc.37bd6",
    "name":"Inject: 3",
    "topic":"Button",
    "payload":"3",
    "payloadType":"num",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":267,
    "y":355,
    "wires":[
      [
        "3e410724.2d936"
      ]
    ]
  },
  {
    "id":"23cdd179.df6dc6",
    "type":"OpenPLC-Input",
    "z":"c7651ddc.37bd6",
    "name":"%QX0.0",
    "register":"X",
    "byte":0,
    "bit":0,
    "x":589,
    "y":418,
    "wires":[
      [
        "568e3117.55e7f"
      ]
    ]
  },
  {
    "id":"631b659f.4a6d24",
    "type":"debug",
    "z":"c7651ddc.37bd6",
    "name":"lamp",
    "active":true,
    "console":"false",
    "complete":"payload",
    "x":842,
    "y":187,
    "wires":[

    ]
  },
  {
    "id":"4291ddc2.a445ec",
    "type":"debug",
    "z":"c7651ddc.37bd6",
    "name":"%QX0.2",
    "active":false,
    "console":"false",
    "complete":"payload",
    "x":852,
    "y":225,
    "wires":[

    ]
  },
  {
    "id":"e09cdec7.3b41d",
    "type":"debug",
    "z":"c7651ddc.37bd6",
    "name":"duration",
    "active":false,
    "console":"false",
    "complete":"payload",
    "x":852,
    "y":264,
    "wires":[

    ]
  },
  {
    "id":"bf0a28a6.6c891",
    "type":"debug",
    "z":"c7651ddc.37bd6",
    "name":"analog value",
    "active":false,
    "console":"false",
    "complete":"payload",
    "x":863,
    "y":302,
    "wires":[

    ]
  },
  {
    "id":"2dadfc00.5aa6a4",
    "type":"modbus-client",
    "z":"",
    "name":"PLC",
    "clienttype":"tcp",
    "bufferCommands":true,
    "stateLogEnabled":false,
    "tcpHost":"127.0.0.1",
    "tcpPort":"502",
    "tcpType":"DEFAULT",
    "serialPort":"/dev/ttyUSB",
    "serialType":"RTU-BUFFERD",
    "serialBaudrate":"9600",
    "serialDatabits":"8",
    "serialStopbits":"1",
    "serialParity":"none",
    "serialConnectionDelay":"100",
    "unit_id":"1",
    "commandDelay":"1",
    "clientTimeout":"1000",
    "reconnectTimeout":"2000"
  }
]
